[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
selenium = "*"
webdriver-manager = "*"
qt-material = "*"
pyside6 = "*"
httpx = "*"
openpyxl = "*"
pyarrow = "*"
undetected-chromedriver = "*"
parsel = "*"

[dev-packages]
ruff = "*"
isort = "*"
blue = "*"

[requires]
python_version = "3.11"
