QWidget {
  font-size: 20px;
}

QLabel {
  font-weight: bold;
}

QMessageBox {
  font-size: 20px;
}

QPushButton, QLineEdit, QComboBox {
  border-radius: 7px;
}

QLineEdit, QComboBox {
  color: white;
}
